.jumbotron {
  padding-top: 115px;
  padding-left: 120px;
  padding-bottom: 100px;
}

.jumbotron .breadcrumb {
  font-weight: 100;
  font-size: 18px;
}

.jumbotron .title {
  font-size: 45px;
}

.jumbotron .title.small {
  font-size: 28px;
}

.jumbotron .content {
  font-size: 18px;
  font-weight: 100;
}
.jumbotron .content.contain {
  padding-right: 50%;
}

.jumbotron .content:not(:first-child),
.jumbotron .title:not(:first-child) {
  margin-top: 20px;
}

.jumbotron .cta-wrapper {
  margin-top: 40px;
}

.jumbotron .cta-wrapper .cta.bp3-button {
  font-size: 20px;
}
